<template>
  <div class="tree-table">
    <div class="batch-ops">
      <el-button type="primary" @click="openDialog( 'add-top')">新增</el-button>
      <el-button type="primary">删除</el-button>
      <el-button type="primary" @click="openMoveDialog">移动</el-button>
    </div>
    <el-table :key="tableKey" ref="table" :data="list" lazy :load="loadChildren" row-key="id"
              :expand-row-keys="expandRowKeys">
      <el-table-column type="selection" width="55"/>
      <el-table-column prop="id" label="#"/>
      <el-table-column prop="name" label="名称"/>
      <el-table-column label="OPS">
        <template slot-scope="scope">
          <font-awesome-icon icon="plus" class="mgl-5"
                             @click="openDialog( 'add-sub', scope.row)"/>
          <font-awesome-icon icon="edit" class="mgl-5" @click="openDialog( 'edit', scope.row)"/>
          <font-awesome-icon icon="trash-alt" @click="deleteOne(scope.row)"/>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
        hide-on-single-page
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="page.current"
        :page-sizes="[10, 20, 30, 40, 50]"
        :page-size="page.size"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.total">
    </el-pagination>
    <el-dialog :title="dialog.title" :visible.sync="dialog.visible" @close="closeHandler">
      <el-form :model="form" label-width="80px">
        <el-form-item prop="name" label="名称">
          <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="ok">确定</el-button>
          <el-button @click="close">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
    <el-dialog :visible.sync="moveDialog.visible">
      <el-form :model="moveForm" label-width="80px">
        <el-form-item prop="name" label="名称">
          <tree-cascader v-model="moveForm.parentId" :type="type" :disabled-ids="moveForm.disabledIds"></tree-cascader>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="move">确定</el-button>
          <el-button @click="closeMoveDialog">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import http from "@/utils/http";
import TreeCascader from "@/components/TreeCascader";

export default {
  name: 'TreeTable',
  components: {TreeCascader},
  props: {
    type: {
      type: String,
      required: true
    }
  },
  mounted() {
    this.getTableData()
  },
  data() {
    return {
      page: {
        current: 1,
        size: 10,
        total: 0,
      },
      tableKey: 1,
      list: [],
      expandRowKeys: [],
      dialog: {
        title: '',
        visible: false
      },
      form: {
        parentId: 0,
        name: ''
      },
      moveDialog: {
        title: '',
        visible: false
      },
      moveForm: {}
    }
  },
  methods: {
    handleSizeChange(size) {
      this.page.size = size
      this.getTableData()
    },
    handleCurrentChange(current) {
      this.page.current = current
      this.getTableData()
    },
    getTableData() {
      http.post(`/${this.type}/search`, Object.assign({}, this.page)).then((res) => {
        this.list = res.data.records
        this.page = {
          current: res.data.current,
          size: res.data.size,
          total: res.data.total,
        }
        // 强制重新渲染table
        this.tableKey++
      })
    },
    loadChildren(row, treeNode, resolve) {
      http.get(`/${this.type}/children/${row.id}`).then(res => {
        res.data.forEach(item => item.fullName = row.name + ' / ' + item.name)
        resolve(res.data)
      })
    },
    openDialog(type, row) {
      this.dialog.type = type
      if (type === 'add-top') {
        this.dialog.title = '新增'
      } else if (type === 'add-sub') {
        this.dialog.title = '新增'
        this.form.parentId = row.id
      } else {
        this.dialog.title = '编辑'
        this.form = row
      }
      this.dialog.visible = true
    },
    closeHandler() {
      this.form = {
        parentId: 0,
        name: ''
      }
      this.dialog = {
        title: '',
        visible: false
      }
    },
    ok() {
      console.log('dialog form', this.form)
      // 后端判断逻辑
      // 如果存在id，表示编辑
      // 如果存在parentId，表示新增
      http.post(`/${this.type}/save`, this.form).then(res => {
        this.close()
        this.getTableData()
        this.$message.success(res.message)
      })
    },
    close() {
      this.dialog.visible = false
    },
    deleteOne(row) {
      this.$confirm('是否确定要继续删除?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        http.post(`/${this.type}/delete`, row).then(res => {
          this.getTableData()
          this.$message.success(res.message)
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        });
      });
    },
    openMoveDialog() {
      console.log(this.$refs.table.selection)
      if (this.$refs.table.selection.length === 0) {
        this.$message.warning("请选择要移动的节点")
      } else {
        this.moveForm.disabledIds = this.$refs.table.selection.map(item => item.id)
        this.moveDialog.visible = true
      }
    },
    closeMoveDialog() {
      this.moveDialog = {
        title: '',
        visible: false
      }
      this.moveForm = {}
    },
    move() {
      let data = {
        parentId: this.moveForm.parentId,
        childIds: this.$refs.table.selection.map(item => item.id)
      }
      http.post(`/${this.type}/move`, data).then(res => {
        this.closeMoveDialog()
        this.getTableData()
        this.$message.success(res.message)
      })
    }
  }
}
</script>

<style lang="less">
.tree-table {
  .batch-ops {
    padding: 20px;
  }
}
</style>
