<template>
  <div class="bill-tag">
    <el-table ref="table" :data="tableData">
      <el-table-column type="selection" width="55"/>
      <el-table-column prop="id" label="#"/>
      <el-table-column prop="name" label="名称"/>
    </el-table>
  </div>
</template>

<script>

import {getBillTagList} from "@/api/billTag";

export default {
  name: 'BillTag',
  data() {
    return {
      tableData: []
    }
  },
  mounted() {
    this.getTableData()
  },
  methods: {
    getTableData() {
      getBillTagList().then((res) => {
        this.tableData = res.data
      })
    }
  }
}
</script>

<style lang="less">
.bill-tag {

}
</style>
