<template>
  <div class="ele-order-detail">
    <div data-v-d6625bfa="" class="container">
      <header data-v-d6625bfa="" class="ElemeHeader-root_lOpLxr-_0">
        <div class="ElemeHeader-wrapper_2rUT4SE_0 ElemeHeader-gradientBg_3_Tu-JD_0 ElemeHeader-fixed_3OoT0dS_0"
             style="z-index: 8844;">
          <div class="ElemeHeader-left_7jLVUf9_0"><img
              src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIzMiI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE2LjU1MiA1LjYzM0wxNC41MDggMy41OSAyLjI0MyAxNS44NTMgMTQuNTA4IDI4LjQxbDIuMDQ0LTIuMDQzLTEwLjIyLTEwLjUxM3oiLz48L3N2Zz4="
              class="ElemeHeader-leftArrow_1PLBnDh_0"></div>
          <h1 class="ElemeHeader-center_2hbxfGq_0">订单详情</h1>
          <div data-v-d6625bfa="" class="header-right"><span data-v-d6625bfa="" class="icon sprite-tel"></span></div>
        </div>
      </header><!----><!----><!---->
      <div data-v-d6625bfa="" class="detail"><!---->
        <div data-v-0f69c4f0="" data-v-d6625bfa="" class="statushead">
          <div data-v-0f69c4f0="" class="statustext">
            订单已送达
            <div data-v-0f69c4f0="" class="arrow sprite-od-detail-status-arrow"></div>
          </div>
          <div data-v-0f69c4f0="" class="">
            <div data-v-0f69c4f0="" class="status_title">感谢您对饿了么的信任，期待再次光临</div>
            <div data-v-0f69c4f0="" class="helptext"><!---->

            </div>
          </div><!----><!----><!---->
          <div data-v-0f69c4f0="" class="buttons"><!----><!---->
            <button data-v-0f69c4f0="" class="primary">
              再来一单
            </button>
          </div><!----><!----></div>
        <div data-v-d6625bfa="" class="claim-card-zPWnm_0">
          <div><h5 class="claim-card-2PMZt_0">食无忧理赔申请</h5>
            <p class="claim-card-SrtIz_0">如发现食品变质、存在异物或引发就医，均可申请理赔</p></div>
        </div>
        <div data-v-4356c696="" data-v-d6625bfa="" class="restaurant-card">
          <div data-v-4356c696="" class="head">
            <div data-v-4356c696="" class="name-wrap"><img data-v-4356c696="" class="avatar"
                                                           src="https://cube.elemecdn.com/0/AF/6EF4D65D343C6AAB862BE2E2F3975jpeg.jpeg?x-oss-process=image/format,webp/resize,w_160,h_160,m_fixed"><span
                data-v-4356c696="" class="name">杨国福麻辣烫(天安云谷店)</span></div>
            <div data-v-4356c696="" class="icon-arrowright sprite-od-detail-status-arrow"></div>
          </div>
          <div data-v-4356c696="" class="product-list">
            <ul data-v-4356c696="" class="cart-item">
              <li data-v-4356c696="" class="product-item group">
                <div data-v-4356c696="" class="profile"><p data-v-4356c696="" class="name">千张</p>
                  <p data-v-4356c696=""></p></div>
                <span data-v-4356c696="" class="quantity"><span data-v-4356c696="">x</span>1</span><span
                  data-v-4356c696="" class="number"><span data-v-4356c696="">¥</span>3.98</span></li>
              <li data-v-4356c696="" class="product-item group">
                <div data-v-4356c696="" class="profile"><p data-v-4356c696="" class="name">莲藕片（4片）</p>
                  <p data-v-4356c696=""></p></div>
                <span data-v-4356c696="" class="quantity"><span data-v-4356c696="">x</span>1</span><span
                  data-v-4356c696="" class="number"><span data-v-4356c696="">¥</span>3.98</span></li>
              <li data-v-4356c696="" class="product-item group">
                <div data-v-4356c696="" class="profile"><p data-v-4356c696="" class="name">土豆粉（每袋100克）</p>
                  <p data-v-4356c696=""></p></div>
                <span data-v-4356c696="" class="quantity"><span data-v-4356c696="">x</span>1</span><span
                  data-v-4356c696="" class="number"><span data-v-4356c696="">¥</span>6.98</span></li>
              <li data-v-4356c696="" class="product-item group">
                <div data-v-4356c696="" class="profile"><p data-v-4356c696="" class="name">豆皮</p>
                  <p data-v-4356c696=""></p></div>
                <span data-v-4356c696="" class="quantity"><span data-v-4356c696="">x</span>1</span><span
                  data-v-4356c696="" class="number"><span data-v-4356c696="">¥</span>3</span></li>
              <li data-v-4356c696="" class="product-item group">
                <div data-v-4356c696="" class="profile"><p data-v-4356c696="" class="name">紫薯丸（2个）</p>
                  <p data-v-4356c696=""></p></div>
                <span data-v-4356c696="" class="quantity"><span data-v-4356c696="">x</span>1</span><span
                  data-v-4356c696="" class="number"><span data-v-4356c696="">¥</span>5</span></li>
              <li data-v-4356c696="" class="product-item group">
                <div data-v-4356c696="" class="profile"><p data-v-4356c696="" class="name">千叶豆腐（2块）</p>
                  <p data-v-4356c696=""></p></div>
                <span data-v-4356c696="" class="quantity"><span data-v-4356c696="">x</span>1</span><span
                  data-v-4356c696="" class="number"><span data-v-4356c696="">¥</span>4.58</span></li>
              <li data-v-4356c696="" class="product-item group">
                <div data-v-4356c696="" class="profile"><p data-v-4356c696="" class="name">土豆（4片）</p>
                  <p data-v-4356c696=""></p></div>
                <span data-v-4356c696="" class="quantity"><span data-v-4356c696="">x</span>1</span><span
                  data-v-4356c696="" class="number"><span data-v-4356c696="">¥</span>3.98</span></li>
              <li data-v-4356c696="" class="product-item group">
                <div data-v-4356c696="" class="profile"><p data-v-4356c696="" class="name">筷子四件套/1个★</p>
                  <p data-v-4356c696=""></p></div>
                <span data-v-4356c696="" class="quantity"><span data-v-4356c696="">x</span>1</span><span
                  data-v-4356c696="" class="number"><span data-v-4356c696="">¥</span>0.2</span></li>
              <li data-v-4356c696="" class="product-item group">
                <div data-v-4356c696="" class="profile"><p data-v-4356c696="" class="name">潮汕肉卷（2片）</p>
                  <p data-v-4356c696=""></p></div>
                <span data-v-4356c696="" class="quantity"><span data-v-4356c696="">x</span>1</span><span
                  data-v-4356c696="" class="number"><span data-v-4356c696="">¥</span>5</span></li>
              <li data-v-4356c696="" class="product-item group">
                <div data-v-4356c696="" class="profile"><p data-v-4356c696="" class="name">宽红薯粉（不可单装）</p>
                  <p data-v-4356c696=""></p></div>
                <span data-v-4356c696="" class="quantity"><span data-v-4356c696="">x</span>1</span><span
                  data-v-4356c696="" class="number"><span data-v-4356c696="">¥</span>4.98</span></li>
              <li data-v-4356c696="" class="product-item group">
                <div data-v-4356c696="" class="profile"><p data-v-4356c696="" class="name">牛骨原汤#（微麻微辣）</p>
                  <p data-v-4356c696=""></p></div>
                <span data-v-4356c696="" class="quantity"><span data-v-4356c696="">x</span>1</span><span
                  data-v-4356c696="" class="number"><span data-v-4356c696="">¥</span>2</span></li>
            </ul>
            <ul data-v-4356c696="" class="cart-item"></ul>
          </div>
          <ul data-v-4356c696="" class="listitem">
            <li data-v-4356c696="" class="product-item"><span data-v-4356c696="" class="name">餐盒费</span>
              <div data-v-4356c696="" class="price-wrap"><span data-v-4356c696="" class="quantity">x1</span><span
                  data-v-4356c696="" class="number"><span data-v-4356c696="">¥</span>4.5</span></div>
            </li>
            <li data-v-4356c696="" class="product-item"><span data-v-4356c696="" class="name">配送费</span><span
                data-v-4356c696="" class="number"><span data-v-4356c696="">¥</span>0</span></li>
          </ul>
          <div data-v-4356c696="" class="price"><p data-v-4356c696="" class="product-item"><span data-v-4356c696=""
                                                                                                 class="name"><!----><span
              data-v-4356c696="">店铺满减</span></span><span data-v-4356c696="" class="discount"><span
              data-v-4356c696="">- </span><span data-v-4356c696="">¥</span>18</span></p>
            <p data-v-4356c696="" class="product-item"><span data-v-4356c696="" class="name"><!----><span
                data-v-4356c696="">黄豆芽1份</span></span><span data-v-4356c696="" class="discount"><!----><span
                data-v-4356c696="">¥</span>0</span></p>
            <p data-v-4356c696="" class="product-item"><span data-v-4356c696="" class="name"><!----><span
                data-v-4356c696="">首次光顾立减</span></span><span data-v-4356c696="" class="discount"><span
                data-v-4356c696="">- </span><span data-v-4356c696="">¥</span>1</span></p>
            <p data-v-4356c696="" class="product-item"><span data-v-4356c696="" class="name"><span data-v-4356c696=""
                                                                                                   class="icon"
                                                                                                   style="background-color: rgb(255, 114, 57);">红</span><span
                data-v-4356c696="">店铺红包</span></span><span data-v-4356c696="" class="discount"><span data-v-4356c696="">- </span><span
                data-v-4356c696="">¥</span>2</span></p><!----></div>
          <div data-v-4356c696="" class="finalprice">
            <div data-v-4356c696="" class="restaurant-card-1-Od3_1">
              <div data-v-4356c696="" class="call-shoper">
                <div data-v-4356c696="" class="phone sprite-phone"></div>
                <span data-v-4356c696="">联系商家</span></div><!----></div>
            <div data-v-4356c696="" class="total-price"><p data-v-4356c696=""><span data-v-4356c696="">实付</span>¥27.18
            </p><!----></div>
          </div><!----></div>
        <div data-v-4a630ca1="" data-v-d6625bfa="" class="detailcard"><!---->
          <div data-v-4a630ca1="" class="detailcard-delivery card">
            <div data-v-4a630ca1="" class="title">配送信息</div>
            <ul data-v-4a630ca1="" class="cardlist">
              <li data-v-4a630ca1="" class="listitem"><span data-v-4a630ca1="">送达时间：</span>
                尽快送达
              </li>
              <li data-v-4a630ca1="" class="listitem"><span data-v-4a630ca1="">送货地址：</span>
                <div data-v-4a630ca1="" class="content"><p data-v-4a630ca1="">李锦俊(先生)</p>
                  <p data-v-4a630ca1="">18598046892</p>
                  <p data-v-4a630ca1="">宝能科技园17栋</p></div>
              </li>
              <li data-v-4a630ca1="" class="listitem"><span data-v-4a630ca1="">配送方式：</span>蜂鸟快送
              </li>
              <li data-v-4a630ca1="" class="listitem rider"><span data-v-4a630ca1="">配送骑士：</span>
                <div data-v-4a630ca1="" class="call-rider"><span data-v-4a630ca1="" class="rider-icon"><span
                    data-v-4a630ca1="" class="sprite-phone"></span>联系骑士</span><span data-v-4a630ca1="">周伟</span></div>
              </li>
              <li data-v-4a630ca1="" class="listitem wide"><span data-v-4a630ca1="" class="listitem-title"><img
                  data-v-4a630ca1="" src="//cube.elemecdn.com/4/8c/f62abf3d293267e1a381e37d8d265png.png" alt="准时达PLUS"
                  class="ontimeplus-logo">服务详情
        </span><a data-v-4a630ca1="" href="#/5029717513985354099/ontimeplus" class="listitem-link">
                <div data-v-4a630ca1="" class="arrow sprite-phone"></div>
                <span data-v-4a630ca1="" class="listitem-link__desc">
            准时送达
          </span></a></li>
            </ul>
          </div>
          <div data-v-4a630ca1="" class="detailcard-order card">
            <div data-v-4a630ca1="" class="title">订单信息</div>
            <ul data-v-4a630ca1="" class="cardlist">
              <li data-v-4a630ca1="" class="listitem"><span data-v-4a630ca1="">订单号：</span>5029717513985354099
              </li>
              <li data-v-4a630ca1="" class="listitem"><span data-v-4a630ca1="">支付方式：</span>在线支付
              </li>
              <li data-v-4a630ca1="" class="listitem"><span data-v-4a630ca1="">下单时间：</span>2021-06-28 10:52
              </li>
              <li data-v-4a630ca1="" class="listitem"><span data-v-4a630ca1="">订单备注：</span>
                <p data-v-4a630ca1="" class="listitem-line">依据餐量提供餐具</p></li><!----></ul>
          </div>
        </div>
      </div>
      <section data-v-d6625bfa="" class="NoDataTip-wrapper_1Gwf0tm" style="display: none;"><img
          src="//cube.elemecdn.com/d/60/70008646170d1f654e926a2aaa3afpng.png">
        <h3>没有结果</h3> <!----> <!----></section><!----><!----><!----></div>
    <div class="Load-wrapper_3h35P-W Load-fixed_1L8WA4k" style="display: none;">
      <div class="Load-loading-main_1LVs9py">
        <div class="Load-loading-icon_2LvpNhI"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'EleOrderDetail'
}
</script>

<style>
.detailcard > .detailcard-delivery {
  border: 1px solid;
}
</style>
