<template>
  <div>
    <div infinite-scroll-distance="20" class="orderbody"><!---->
      <div @click="$router.push('/test/detail')" class="ordercard" scandata="[object Object]">
        <div class="ordercard-body">
          <div class="ordercard-avatar"><img class="ordercard-logo"
                                             src="https://cube.elemecdn.com/0/AF/6EF4D65D343C6AAB862BE2E2F3975jpeg.jpeg?x-oss-process=image/format,webp/resize,w_64,h_64,m_fixed">
            <!----></div>
          <div class="ordercard-content">
            <div class="ordercard-head">
              <div class="title">
                <div class="name"><span class="content">杨国福麻辣烫(天安云谷店)</span>
                  <svg>
                    <use xlink:href="#arrow-right"></use>
                  </svg>
                </div>
                <p class="status">已送达</p></div>
              <p class="datetime">2021-06-28 10:52</p></div>
            <div class="ordercard-detail"><p class="detail"><span
                class="productname">
            土豆粉（每袋100克）
          </span><span>等11件商品</span></p>
              <p class="price">¥27.18</p></div>
          </div>
        </div>
        <div class="ordercard-bottom"><!----><!---->
          <button ubt-click="101194" class="cardbutton">再来一单</button><!----><!----></div>
      </div>
      <div @click="$router.push('/test/detail')" class="ordercard" scandata="[object Object]">
        <div class="ordercard-body">
          <div class="ordercard-avatar"><img class="ordercard-logo"
                                             src="https://cube.elemecdn.com/9/BA/8AE9B7CAA4C4A97850CBFFACCBFA3jpeg.jpeg?x-oss-process=image/format,webp/resize,w_64,h_64,m_fixed">
            <!----></div>
          <div class="ordercard-content">
            <div class="ordercard-head">
              <div class="title">
                <div class="name"><span class="content">沪上阿姨(深圳布吉钧濠店)</span>
                  <svg>
                    <use xlink:href="#arrow-right"></use>
                  </svg>
                </div>
                <p class="status">已送达</p></div>
              <p class="datetime">2021-06-27 14:03</p></div>
            <div class="ordercard-detail"><p class="detail"><span
                class="productname">
            血糯米奶茶(中杯)-+波波¥1
          </span><span></span></p>
              <p class="price">¥11.00</p></div>
          </div>
        </div>
        <div class="ordercard-bottom"><!----><!---->
          <button ubt-click="101194" class="cardbutton">再来一单</button><!----><!----></div>
      </div>
      <div @click="$router.push('/test/detail')" class="ordercard" scandata="[object Object]">
        <div class="ordercard-body">
          <div class="ordercard-avatar"><img class="ordercard-logo"
                                             src="https://cube.elemecdn.com/6/CD/AC1C5071A4FA99D73EE1831F6D60Ejpeg.jpeg?x-oss-process=image/format,webp/resize,w_64,h_64,m_fixed">
            <!----></div>
          <div class="ordercard-content">
            <div class="ordercard-head">
              <div class="title">
                <div class="name"><span class="content">好吃不过饺子坊(布吉总店)</span>
                  <svg>
                    <use xlink:href="#arrow-right"></use>
                  </svg>
                </div>
                <p class="status">已送达</p></div>
              <p class="datetime">2021-06-27 13:54</p></div>
            <div class="ordercard-detail"><p class="detail"><span
                class="productname">
            自选饺子（23粒干捞）蘸料
          </span><span></span></p>
              <p class="price">¥18.58</p></div>
          </div>
        </div>
        <div class="ordercard-bottom"><!----><!---->
          <button ubt-click="101194" class="cardbutton">再来一单</button><!----><!----></div>
      </div>
      <div @click="$router.push('/test/detail')" class="ordercard" scandata="[object Object]">
        <div class="ordercard-body">
          <div class="ordercard-avatar"><img class="ordercard-logo"
                                             src="https://cube.elemecdn.com/6/CD/AC1C5071A4FA99D73EE1831F6D60Ejpeg.jpeg?x-oss-process=image/format,webp/resize,w_64,h_64,m_fixed">
            <!----></div>
          <div class="ordercard-content">
            <div class="ordercard-head">
              <div class="title">
                <div class="name"><span class="content">好吃不过饺子坊(布吉总店)</span>
                  <svg>
                    <use xlink:href="#arrow-right"></use>
                  </svg>
                </div>
                <p class="status">您主动取消</p></div>
              <p class="datetime">2021-06-27 13:53</p></div>
            <div class="ordercard-detail"><p class="detail"><span
                class="productname">
            自选饺子（23粒干捞）蘸料
          </span><span></span></p>
              <p class="price">¥23.58</p></div>
          </div>
        </div>
        <div class="ordercard-bottom"><!----><!---->
          <button ubt-click="101194" class="cardbutton">再来一单</button><!----><!----></div>
      </div>
      <div @click="$router.push('/test/detail')" class="ordercard" scandata="[object Object]">
        <div class="ordercard-body">
          <div class="ordercard-avatar"><img class="ordercard-logo"
                                             src="https://cube.elemecdn.com/6/04/B6B3D5587471184A756A18368B6C6jpeg.jpeg?x-oss-process=image/format,webp/resize,w_64,h_64,m_fixed">
            <!----></div>
          <div class="ordercard-content">
            <div class="ordercard-head">
              <div class="title">
                <div class="name"><span class="content">沪上阿姨(布吉公园店)</span>
                  <svg>
                    <use xlink:href="#arrow-right"></use>
                  </svg>
                </div>
                <p class="status">已送达</p></div>
              <p class="datetime">2021-06-26 18:54</p></div>
            <div class="ordercard-detail"><p class="detail"><span
                class="productname">
            杨枝甘露（大杯）-常规
          </span><span></span></p>
              <p class="price">¥14.00</p></div>
          </div>
        </div>
        <div class="ordercard-bottom"><!----><!---->
          <button ubt-click="101194" class="cardbutton">再来一单</button><!----><!----></div>
      </div>
      <div @click="$router.push('/test/detail')" class="ordercard" scandata="[object Object]">
        <div class="ordercard-body">
          <div class="ordercard-avatar"><img class="ordercard-logo"
                                             src="https://cube.elemecdn.com/7/3e/481c7b1296709642ebb9d4081883cJPEG.JPEG">
            <!----></div>
          <div class="ordercard-content">
            <div class="ordercard-head">
              <div class="title">
                <div class="name"><span class="content">东北烤冷面</span>
                  <svg>
                    <use xlink:href="#arrow-right"></use>
                  </svg>
                </div>
                <p class="status">已送达</p></div>
              <p class="datetime">2021-06-26 18:52</p></div>
            <div class="ordercard-detail"><p class="detail"><span
                class="productname">
            特色经典烤冷面
          </span><span></span></p>
              <p class="price">¥17.88</p></div>
          </div>
        </div>
        <div class="ordercard-bottom"><!----><!---->
          <button ubt-click="101194" class="cardbutton">再来一单</button><!----><!----></div>
      </div>
      <div @click="$router.push('/test/detail')" class="ordercard" scandata="[object Object]">
        <div class="ordercard-body">
          <div class="ordercard-avatar"><img class="ordercard-logo"
                                             src="https://cube.elemecdn.com/0/b3/a9408152d355750569c7e27415089JPEG.JPEG">
            <!----></div>
          <div class="ordercard-content">
            <div class="ordercard-head">
              <div class="title">
                <div class="name"><span class="content">煎饼果子小吃店</span>
                  <svg>
                    <use xlink:href="#arrow-right"></use>
                  </svg>
                </div>
                <p class="status">已送达</p></div>
              <p class="datetime">2021-06-26 18:51</p></div>
            <div class="ordercard-detail"><p class="detail"><span
                class="productname">
            煎饼果子去（热狗+辣条+土鸡蛋+薄脆）
          </span><span>等2件商品</span></p>
              <p class="price">¥14.00</p></div>
          </div>
        </div>
        <div class="ordercard-bottom"><!----><!---->
          <button ubt-click="101194" class="cardbutton">再来一单</button><!----><!----></div>
      </div>
      <div @click="$router.push('/test/detail')" class="ordercard" scandata="[object Object]">
        <div class="ordercard-body">
          <div class="ordercard-avatar"><img class="ordercard-logo"
                                             src="https://cube.elemecdn.com/2/C7/0AB4E5A9E4545AA6B2678F0ED141Apng.png?x-oss-process=image/format,webp/resize,w_64,h_64,m_fixed">
            <!----></div>
          <div class="ordercard-content">
            <div class="ordercard-head">
              <div class="title">
                <div class="name"><span class="content">喜公子·那粥那粉那些面(布吉店)</span>
                  <svg>
                    <use xlink:href="#arrow-right"></use>
                  </svg>
                </div>
                <p class="status">已送达</p></div>
              <p class="datetime">2021-06-24 18:42</p></div>
            <div class="ordercard-detail"><p class="detail"><span
                class="productname">
            天作之合番茄炒蛋拌面
          </span><span>等2件商品</span></p>
              <p class="price">¥13.80</p></div>
          </div>
        </div>
        <div class="ordercard-bottom"><!----><!---->
          <button ubt-click="101194" class="cardbutton">再来一单</button><!----><!----></div>
      </div>
      <div class="orderbody-bottom">
        <p class="loading" style="display: none;">
          <svg class="loading-svg">
            <use xlink:href="#loading"></use>
          </svg>
        </p><!----><!----></div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Test'
}
</script>

<style scoped>

</style>
