<template>
  <div class="discount">
    <div class="search">
      <el-form ref="searchForm" :inline="true" :model="searchConditions">
        <el-form-item prop="consumeTimeRange" label="描述">
          <el-input v-model="searchConditions.desc" placeholder="请输入关键字"/>
        </el-form-item>
        <el-form-item>
          <el-button class="mgl-10" type="primary" @click="search">搜索</el-button>
          <el-button @click="reset">重置</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="batch-ops">
      <el-button type="primary" @click="openAddDialog">新增</el-button>
    </div>
    <el-table ref="table" v-loading="loading" :data="tableData" style="width: 100%">
      <el-table-column type="selection" width="55"/>
      <el-table-column prop="id" label="#" width="80"/>
      <el-table-column prop="desc" label="描述"/>
      <el-table-column label="OPS" width="180">
        <template slot-scope="scope">
          <font-awesome-icon class="mgl-5" icon="edit"
                             @click="openEditDialog(scope.row)"/>
          <font-awesome-icon class="mgl-5" icon="trash-alt" @click="deleteRow(scope.row)"/>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="page.current"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="page.size"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.total">
    </el-pagination>
    <el-dialog :title="dialog.title" :visible.sync="dialog.visible" @close="closeHandler">
      <el-form :model="form" label-width="80px">
        <el-form-item prop="desc" label="名称">
          <el-input v-model="form.desc"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="save">确定</el-button>
          <el-button @click="close">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import IndexMixin from '@/mixin/index-mixin'
import {pageSearchDiscounts, saveDiscount} from "@/api/discount";

export default {
  name: 'Discount',
  mixins: [IndexMixin],
  data() {
    return {
      getTableApi: pageSearchDiscounts,
      dialog: {
        title: '',
        visible: false
      },
      form: {
        desc: ''
      }
    }
  },
  methods: {
    openAddDialog() {
      this.dialog.title = '新增'
      this.dialog.visible = true
    },
    openEditDialog(row) {
      this.dialog.title = '編輯'
      this.dialog.visible = true
      this.form = row
    },
    closeHandler() {
      this.form = {
        desc: ''
      }
      this.dialog = {
        title: '',
        visible: false
      }
    },
    save() {
      saveDiscount(this.form).then(res => {
        this.$message.success(res.message)
        this.getTableData()
        this.close()
      })
    },
    close() {
      this.dialog.visible = false
    },
    deleteRow(row) {
      console.log(row)
    }
  }
}
</script>

<style lang="less">
.disabled {

}

</style>
