<template>
  <div>
    <el-form ref="form" :model="form" label-width="80px">
      <el-form-item label="快捷录入">
        <el-input v-model="form.desc" type="textarea" rows="10"></el-input>
      </el-form-item>
      <el-form-item label="消费时间">
        <el-date-picker
            v-model="form.consumeTime"
            type="datetime"
            placeholder="选择日期时间"
            default-time="12:00:00">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="截图/照片">
        <el-upload
            action="#"
            list-type="picture-card"
            :auto-upload="false">
          <i slot="default" class="el-icon-plus"></i>
          <div slot="file" slot-scope="{file}">
            <img class="el-upload-list__item-thumbnail" :src="file.url" alt=""/>
            <span class="el-upload-list__item-actions">
              <span
                  class="el-upload-list__item-preview"
                  @click="handlePictureCardPreview(file)"
              >
                <i class="el-icon-zoom-in"></i>
              </span>
              <span
                  v-if="!disabled"
                  class="el-upload-list__item-delete"
                  @click="handleDownload(file)"
              >
                <i class="el-icon-download"></i>
              </span>
              <span
                  v-if="!disabled"
                  class="el-upload-list__item-delete"
                  @click="handleRemove(file)"
              >
                <i class="el-icon-delete"></i>
              </span>
            </span>
          </div>
        </el-upload>
        <el-dialog :visible.sync="dialogVisible">
          <img width="100%" :src="dialogImageUrl" alt="">
        </el-dialog>
      </el-form-item>
      <el-divider/>
      <el-form-item>
        <el-button type="primary" @click="ok">确定</el-button>
        <el-button @click="cancel">取消</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import {saveQuickBill} from "@/api/quickBill.js";

export default {
  name: 'QuickBillAdd',
  props: {
    quickBill: {
      type: Object,
      required: false
    }
  },
  data() {
    return {
      form: {
        consumeTime: new Date()
      },
      dialogImageUrl: '',
      dialogVisible: false,
      disabled: false
    }
  },
  computed: {
    isEdit() {
      return !!this.quickBill
    }
  },
  methods: {
    ok() {
      saveQuickBill(this.form)
    },
    cancel() {
      this.$emit('cancel')
    },
    handleRemove(file) {
      console.log(file);
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },
    handleDownload(file) {
      console.log(file);
    }
  },
  watch: {
    quickBill: {
      // eslint-disable-next-line no-unused-vars
      handler: function (newValue, oldValue) {
        console.log('newValue', newValue)
        if (newValue) {
          this.form = newValue
        } else {
          this.form = {
            consumeTime: new Date()
          }
        }
      },
      // deep: true
      immediate: true
    }
  }
}
</script>
