<template>
  <div class="quick-bill-edit">
    <el-collapse v-model="activeNames">
      <el-collapse-item title="基础信息" name="1" v-loading="loading">
        <el-row>
          <el-col :span="11">
            <div class="quick-bill">
              <div class="title">快捷账单</div>
              <el-divider/>
              <el-form ref="quickBillForm" class="form" label-width="85px" :model="quickBillForm"
                       :rules="quickBillFormRules">
                <el-form-item prop="desc" label="账单描述">
                  <el-input type="textarea" v-model="quickBillForm.desc"/>
                </el-form-item>
                <el-form-item prop="consumeTime" label="消费时间">
                  <el-date-picker v-model="quickBillForm.consumeTime" type="datetime" placeholder="请选择"/>
                </el-form-item>
                <el-form-item prop="type" label="收支类型">
                  <enum-select type="billType" v-model="quickBillForm.type"/>
                </el-form-item>
                <el-form-item prop="categoryName" label="账单分类">
                  <el-input v-model="quickBillForm.categoryName"/>
                </el-form-item>
                <el-form-item prop="discountId" label="账单标记">
                  <el-select
                      disabled
                      v-model="quickBillForm.tagIds"
                      multiple
                      collapse-tags
                      filterable
                      remote
                      :remote-method="searchTag"
                      allow-create
                      default-first-option
                      placeholder="请选择">
                    <el-option
                        v-for="item in tagOptions"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item prop="payableOrReceivableAmount" label="应付/应收">
                  <el-input disabled v-model="quickBillForm.payableOrReceivableAmount"/>
                </el-form-item>
                <el-form-item prop="money" label="实付/应收">
                  <el-input v-model="quickBillForm.money"/>
                </el-form-item>
                <el-form-item prop="discountId" label="折扣类型">
                  <el-select disabled v-model="quickBillForm.discountId">
                    <el-option v-for="item in discountOptions" :label="item.label" :value="item.value"
                               :key="item.value"/>
                  </el-select>
                </el-form-item>
                <el-form-item prop="payTypeName" label="支付方式">
                  <el-input v-model="quickBillForm.payTypeName"/>
                </el-form-item>
                <el-form-item prop="platformName" label="交易平台">
                  <el-input v-model="quickBillForm.platformName"/>
                </el-form-item>
                <el-form-item prop="counterpartyName" label="交易对方">
                  <el-input v-model="quickBillForm.counterpartyName"/>
                </el-form-item>
                <el-form-item prop="note" label="账单备注">
                  <el-input type="textarea" v-model="quickBillForm.note"/>
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="saveQuickBill">确定</el-button>
                  <el-button @click="$router.push('/quick-bill')">取消</el-button>
                </el-form-item>
              </el-form>
            </div>
          </el-col>
          <el-col :span="2">
            <el-divider class="vertical-divider" direction="vertical"/>
          </el-col>
          <el-col :span="11">
            <div class="bill">
              <div class="title">正式账单</div>
              <el-divider/>
              <el-form ref="billForm" class="form" label-width="85px" :model="billForm"
                       :rules="billFormRules">
                <el-form-item prop="desc" label="账单描述">
                  <el-input type="textarea" v-model="billForm.desc"/>
                </el-form-item>
                <el-form-item prop="consumeTime" label="消费时间">
                  <el-date-picker v-model="billForm.consumeTime" type="datetime" placeholder="请选择"/>
                </el-form-item>
                <el-form-item prop="type" label="收支类型">
                  <enum-select type="billType" v-model="billForm.type"/>
                </el-form-item>
                <el-form-item prop="categoryId" label="账单分类">
                  <tree-cascader v-model="billForm.categoryId" type="bill-category"/>
                </el-form-item>
                <el-form-item prop="discountId" label="账单标记">
                  <el-select
                      v-model="billForm.tagIds"
                      multiple
                      collapse-tags
                      filterable
                      remote
                      :remote-method="searchTag"
                      allow-create
                      default-first-option
                      placeholder="请选择">
                    <el-option
                        v-for="item in tagOptions"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item prop="payableOrReceivableAmount" label="应付/应收">
                  <el-input v-model="billForm.payableOrReceivableAmount"/>
                </el-form-item>
                <el-form-item prop="paymentOrReceiptsAmount" label="实付/应收">
                  <el-input v-model="billForm.paymentOrReceiptsAmount"/>
                </el-form-item>
                <el-form-item prop="discountId" label="折扣类型">
                  <el-select
                      v-model="billForm.discountIds"
                      multiple
                      collapse-tags
                      filterable
                      remote
                      :remote-method="searchDiscount"
                      allow-create
                      default-first-option
                      placeholder="请选择">
                    <el-option
                        v-for="item in discountOptions"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item prop="payTypeId" label="支付方式">
                  <tree-cascader v-model="billForm.payTypeId" type="pay-type"/>
                </el-form-item>
                <el-form-item prop="platformId" label="交易平台">
                  <tree-cascader v-model="billForm.platformId" type="platform"/>
                </el-form-item>
                <el-form-item prop="counterpartyId" label="交易对方">
                  <tree-cascader v-model="billForm.counterpartyId" type="counterparty"/>
                </el-form-item>
                <el-form-item prop="note" label="账单备注">
                  <el-input type="textarea" v-model="billForm.note"/>
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="saveBill">确定</el-button>
                  <el-button @click="$router.push('/quick-bill')">取消</el-button>
                </el-form-item>
              </el-form>
            </div>
          </el-col>
        </el-row>
      </el-collapse-item>
      <el-collapse-item title="商品信息" name="2">
        <el-table :data="billForm.billItems" style="width: 100%">
          <el-table-column prop="id" label="#" width="180"/>
          <el-table-column prop="name" label="名称">
            <template slot-scope="scope">
              <el-select filterable remote allow-create default-first-option placeholder="请输入关键词"
                         v-if="scope.row.editing"
                         v-model="scope.row.productIdOrName"
                         :remote-method="remoteProductSearch"
                         @change="productSelectChangeHandler"
                         :loading="loadingProduct">
                <el-option
                    v-for="item in productOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                </el-option>
              </el-select>
              <span v-else>{{ scope.row.productName }}</span>
            </template>
          </el-table-column>
          <el-table-column label="分类">
            <template slot-scope="scope">
              <tree-cascader type="product-category" :disable="productDisable" v-if="scope.row.editing"
                             v-model="scope.row.productCategoryId"/>
              <span v-else>{{ scope.row.productCategoryName }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="sku" label="规格" min-width="148px">
            <template slot-scope="scope">
              <div class="sku" v-if="scope.row.editing">
                <skus v-model="scope.row.billItemSkus"/>
              </div>
              <div v-else>
                <p v-for="sku of scope.row.billItemSkus" :key="sku.id">
                  ￥{{ sku.skuPrice || '?' }} / {{ sku.skuUnit || '?' }} * {{ sku.skuQuantity || '?' }}
                </p>
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="discount" label="折扣">
            <template slot-scope="scope">
              <el-input v-if="scope.row.editing" v-model="scope.row.discount"></el-input>
              <span>{{ scope.row.discount }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="payableOrReceivableAmount" label="应付/收金额">
            <template slot-scope="scope">
              <el-input v-if="scope.row.editing" v-model="scope.row.payableOrReceivableAmount"></el-input>
              <span v-else>{{ scope.row.payableOrReceivableAmount }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="paymentOrReceiptsAmount" label="实付/收金额">
            <template slot-scope="scope">
              <el-input v-if="scope.row.editing" v-model="scope.row.paymentOrReceiptsAmount"></el-input>
              <span v-else>{{ scope.row.paymentOrReceiptsAmount }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-link v-if="scope.row.editing" type="primary" @click="saveBillItem(scope.row)">保存</el-link>
              <el-link v-if="scope.row.editing" type="primary" class="mgl-5"
                       @click="cancelAddBillItem(scope.row)">取消
              </el-link>
              <el-link v-if="!scope.row.editing" type="primary" @click="editBillItem(scope.row)">编辑</el-link>
              <el-link v-if="!scope.row.editing" type="primary" class="mgl-5"
                       @click="deleteBillItem(scope.row)">删除
              </el-link>
            </template>
          </el-table-column>
        </el-table>
        <el-button class="product-add-button" v-if="billForm.id" :disabled="adding" @click="addProduct">+添加</el-button>
      </el-collapse-item>
      <el-collapse-item title="优惠信息" name="2">

      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>
import EnumSelect from "@/components/EnumSelect";
import TreeCascader from "@/components/TreeCascader";
import {getBillDetail} from "@/api/bill";
import {getTagsByBillId, searchTagsByKeyword} from "@/api/billTag";
import {searchProducts} from "@/api/product";
import {deleteBillItemById, saveBillItem} from "@/api/billItem";
import Skus from "@/view/bill/skus";
import {getQuickBillDetailById, manualReconciliation, saveQuickBill} from "@/api/quickBill";
import {getDiscountsByBillId, searchDiscountsByKeyword} from "@/api/discount";

export default {
  name: 'BillEdit',
  components: {
    Skus,
    EnumSelect,
    TreeCascader
  },
  mounted() {
    this.getQuickBillDetail()
  },
  data() {
    return {
      quickBillForm: {},
      quickBillFormRules: {},
      billForm: {},
      billFormRules: {
        consumeTime: [
          {required: true, message: '请输入消费时间', trigger: 'blur'}
        ],
        type: [
          {required: true, message: '收支类型不能为空', trigger: 'blur'}
        ],
        categoryId: [
          {required: true, message: '请选择分类', trigger: 'blur'}
        ],
        paymentOrReceiptsAmount: [
          {required: true, message: '请输入金额', trigger: 'blur'}
        ],
        payTypeId: [
          {required: true, message: '请选择支付方式', trigger: 'blur'}
        ]
      },
      loading: false,
      discountOptions: [],
      tagOptions: [],
      activeNames: ['1', '2'],
      adding: false,
      loadingProduct: false,
      productOptions: [],
      skuOptions: [],
      productDisable: false
    }
  },
  methods: {
    getQuickBillDetail() {
      if (this.$route.query.id) {
        this.loading = true
        getQuickBillDetailById(this.$route.query.id).then((res) => {
          this.quickBillForm = res.data
          if (!this.quickBillForm.billId) {
            this.billForm = {
              desc: this.quickBillForm.desc,
              consumeTime: this.quickBillForm.consumeTime,
              type: this.quickBillForm.type,
              paymentOrReceiptsAmount: this.quickBillForm.money,
              note: this.quickBillForm.note
            }
            this.loading = false
          } else {
            this.getTagOptions(this.quickBillForm.billId)
            this.getDiscountOptions(this.quickBillForm.billId)
            getBillDetail(this.quickBillForm.billId).then((res) => {
              this.billForm = res.data
              this.loading = false
            })
          }
        })
      }
    },
    getBillDetail(billId) {
      this.loading = true
      getBillDetail(billId).then((res) => {
        this.form = res.data
        this.loading = false
      })
    },
    saveQuickBill() {
      this.$refs.quickBillForm.validate((valid) => {
        if (valid) {
          saveQuickBill(this.quickBillForm).then((res) => {
            this.$message.success(res.message)
            this.getQuickBillDetail()
          })
        }
      })
    },
    saveBill() {
      this.$refs.billForm.validate((valid) => {
        if (valid) {
          manualReconciliation(this.billForm, this.quickBillForm.id).then((res) => {
            this.$message.success(res.message)
            location.reload()
          })
        }
      })
    },
    getTagOptions(billId) {
      getTagsByBillId(billId).then((res) => {
        this.tagOptions = res.data.map(tag => {
          return {
            value: tag.id,
            label: tag.name
          }
        })
      })
    },
    getDiscountOptions(billId) {
      getDiscountsByBillId(billId).then((res) => {
        this.discountOptions = res.data.map(tag => {
          return {
            value: tag.id,
            label: tag.desc
          }
        })
      })
    },
    searchTag(keyword) {
      if (keyword.length !== 0) {
        searchTagsByKeyword(keyword).then((res) => {
          this.tagOptions = res.data.map(tag => {
            return {
              value: tag.id,
              label: tag.name
            }
          })
        })
      }
    },
    searchDiscount(keyword) {
      if (keyword.length !== 0) {
        searchDiscountsByKeyword(keyword).then((res) => {
          this.discountOptions = res.data.map(discount => {
            return {
              value: discount.id,
              label: discount.desc
            }
          })
        })
      }
    },
    addProduct() {
      this.billForm.billItems.push({billId: this.billForm.id, billItemSkus: [{}], editing: true})
      this.adding = true
    },
    saveBillItem(billItem) {
      console.log('billItem', billItem)
      saveBillItem(billItem).then((res) => {
        this.$message.success(res.message)
        this.getQuickBillDetail()
        this.adding = false
      })
    },
    cancelAddBillItem(row) {
      if (Number.isInteger(row.id)) {
        this.billForm.billItems = this.billForm.billItems.map(i => {
          if (i.id === row.id) {
            i.editing = false
          }
          return i
        })
      } else {
        this.billForm.billItems.pop()
        this.adding = false
      }
    },
    remoteProductSearch(keyword) {
      if (keyword.length > 0) {
        this.loadingProduct = true
        searchProducts({keyword}).then((res) => {
          this.productOptions = res.data.map(i => {
            return {
              value: i.id,
              label: i.name,
              categoryId: i.categoryId
            }
          })
          this.loadingProduct = false
        })
      }
    },
    productSelectChangeHandler(productIdOrName) {
      if (Number.isInteger(productIdOrName)) {
        const product = this.productOptions.find(i => i.value === productIdOrName)
        this.billForm.billItems = this.billForm.billItems.map(i => {
          if (i.productIdOrName === productIdOrName) {
            i.productCategoryId = product.categoryId
          }
          return i
        })
        this.productDisable = true
      }
    },
    editBillItem(billItem) {
      this.billForm.billItems = this.billForm.billItems.map(i => {
        if (i.id === billItem.id) {
          i.editing = true
        }
        return i
      })
      let index = this.productOptions.findIndex(i => i.value === billItem.productId)
      if (index === -1)
        this.productOptions.push({
          value: billItem.productId,
          label: billItem.productName
        })
    },
    deleteBillItem(billItem) {
      this.$confirm('是否确定要继续删除操作?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        deleteBillItemById(billItem.id).then((res) => {
          this.$message.success(res.message)
          this.getBillDetail()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        });
      });
    }
  }
}
</script>

<style lang="less">
.quick-bill-edit {
  padding: 40px;

  .title {
    text-align: center;
  }

  .vertical-divider {
    height: 885px;
    margin: 0 50%;
  }

  .form {
    padding: 0 50px;
  }

  .quick-bill {

  }

  .bill {

  }

  .el-select {
    width: 100%;
  }

  .el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 100%;
  }

  .ops {
    margin-top: 20px;
    text-align: center;
  }

  .product-add-button {
    margin-top: 5px;
    width: 100%;
    height: 60px;
    border: 1px dashed #02c1de;
    background: #fdfdfd;

  }

}
</style>
