<template>
    <div class="quick-bill">
        <div class="search">
            <el-form ref="searchForm" :inline="true" :model="searchConditions">
                <el-form-item prop="desc" label="描述">
                    <el-input v-model="searchConditions.desc" placeholder="请输入关键字"/>
                </el-form-item>
                <el-form-item prop="consumeTimeRange" label="消费时间">
                    <el-date-picker
                            v-model="searchConditions.consumeTimeRange"
                            type="datetimerange"
                            :picker-options="pickerOptions"
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期">
                    </el-date-picker>
                </el-form-item>
                <el-form-item prop="type" label="收/支">
                    <enum-select ref="billType" type="billType" v-model="searchConditions.type"/>
                </el-form-item>
                <el-form-item prop="status" label="状态">
                    <enum-select ref="quickBillStatus" type="quickBillStatus" v-model="searchConditions.status"/>
                </el-form-item>
                <el-form-item prop="counterpartyName" label="交易对方">
                    <el-input v-model="searchConditions.counterpartyName" placeholder="请输入关键字"/>
                </el-form-item>
                <el-form-item>
                    <el-button style="margin-left: 10px" type="primary" @click="search">搜索</el-button>
                    <el-button @click="reset">重置</el-button>
                </el-form-item>
            </el-form>
        </div>
        <div class="batch-ops">
            <el-button type="primary" @click="openDialog('add')">快捷录入</el-button>
            <el-button type="primary" @click="openImportDialog" v-loading="daemonImporting">导入</el-button>
            <el-button type="primary" @click="batchAutoReconciliation">自动对账</el-button>
            <el-button type="primary" v-loading="crawlingEleBill" @click="crawlEleBill">爬取饿了么账单</el-button>
            <el-upload class="car-code-upload" action="/bill/file/uploadWXCarCodeRecords"
                       :show-file-list="false">
                <el-button type="primary">上传微信乘车码乘车记录</el-button>
            </el-upload>
        </div>
        <el-table ref="table" v-loading="loading" :data="tableData" style="width: 100%">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column prop="id" label="#" width="80"></el-table-column>
            <el-table-column prop="desc" label="描述" min-width="180" show-overflow-tooltip></el-table-column>
            <el-table-column label="消费时间" min-width="150" sortable sort-by="consumeTime">
                <template slot-scope="scope">
                    {{ scope.row.consumeTime | formatDateTime }}
                </template>
            </el-table-column>
            <el-table-column prop="categoryName" label="分类"></el-table-column>
            <el-table-column prop="type" label="收/支">
                <template slot-scope="scope">
                    {{ scope.row.type | formatDict('billType') }}
                </template>
            </el-table-column>
            <el-table-column prop="money" label="金额￥"></el-table-column>
            <el-table-column label="状态">
                <template slot-scope="scope">
                    {{ scope.row.status | formatDict('quickBillStatus') }}
                    <el-tooltip v-if="isReconciliationFailed(scope.row.status)" class="item" effect="dark"
                                placement="top-start">
                        <div slot="content">
                            <p>对账时间：{{ scope.row.reconciliationTime | formatDateTime }}</p>
                            <p>{{ scope.row.reconciliationMessage }}</p>
                        </div>
                        <font-awesome-icon style="margin-left: 1px" icon="question"/>
                    </el-tooltip>
                </template>
            </el-table-column>
            <el-table-column prop="payTypeName" label="支付方式"></el-table-column>
            <el-table-column prop="counterpartyName" label="交易对方" width="100" show-overflow-tooltip></el-table-column>
            <el-table-column prop="platformName" label="交易平台"></el-table-column>
            <el-table-column prop="note" label="备注" show-overflow-tooltip></el-table-column>
            <el-table-column prop="images" label="截图/图片"></el-table-column>
            <el-table-column label="OPS" width="80" fixed="right">
                <template slot-scope="scope">
                    <font-awesome-icon v-if="!isReconciled(scope.row.status)" class="mgl-5" icon="file-invoice-dollar"
                                       @click="reconciliation(scope.row)"/>
                    <font-awesome-icon class="mgl-5" icon="edit"
                                       @click="$router.push(`/quick-bill/edit?id=${scope.row.id}`)"/>
                    <font-awesome-icon class="mgl-5" icon="trash-alt" @click="deleteQuickBill(scope.row)"/>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="page.current"
                :page-sizes="[10, 20, 30, 40]"
                :page-size="page.size"
                layout="total, sizes, prev, pager, next, jumper"
                :total="page.total">
        </el-pagination>
        <el-dialog :title="dialog.title" :visible.sync="dialog.visible">
            <quick-bill-add :quick-bill="dialog.data" @cancel="dialog.visible = false"/>
        </el-dialog>
        <el-dialog width="500px" title="导入快捷账单" :visible.sync="importDialog.visible">
            <el-upload
                    ref="upload"
                    class="upload"
                    :class="{'not-uploadable': !uploadable}"
                    drag
                    :disabled="!uploadable"
                    :on-preview="handlePreview"
                    :on-remove="handleRemove"
                    :on-success="handleSuccess"
                    :on-error="handleError"
                    :file-list="fileList"
                    action="/bill/file/upload">
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                <div class="el-upload__tip import-dialog-tip" slot="tip">
                    只能上传jpg/png文件，且不超过500kb
                </div>
            </el-upload>
            <div class="upload" style="margin-top: 10px">
                <el-switch v-model="rightNow" active-text="立即导入" style="margin-right: 10px"/>
                <el-switch v-model="autoReconciliation" active-text="自动对账"/>
            </div>
            <div class="import-ops">
                <el-button class="import-op" type="primary" :disabled="uploadable" @click="importQuickBill">导入
                </el-button>
                <!--        <el-button class="import-op" type="primary" :disabled="uploadable" @click="importRightNow">立即导入</el-button>-->
                <!--        <el-button class="import-op" type="primary" :disabled="uploadable" @click="importDaemon">后台导入</el-button>-->
                <el-button @click="importDialog.visible=false">取消</el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
    import {
        autoReconciliation,
        batchAutoReconciliation,
        deleteQuickBill,
        getQuickBillPage,
        importQuickBillFromFile
    } from "@/api/quickBill";
    import QuickBillAdd from "@/view/quick-bill/add";
    import {getImportHistoryById} from "@/api/importHistory";
    import {ImportHistoryStatusEnum, QuickBillStatusEnum} from "@/common/enums";
    import EnumSelect from "@/components/EnumSelect";
    import {getCategoryLikeName} from "@/api/billCategory";
    import _ from 'lodash'
    import {crawlEleBill} from "@/api/thirdpartyBill";

    export default {
        name: 'QuickBill',
        components: {EnumSelect, QuickBillAdd},
        data() {
            return {
                loading: false,
                tableData: [],
                dialog: {
                    title: '',
                    visible: false,
                    data: {}
                },
                editDialog: {
                    visible: false,
                    data: {}
                },
                importDialog: {
                    title: '',
                    visible: false,
                    data: {}
                },
                daemonImporting: false,
                fileList: [],
                importHistory: {},
                uploadable: true,
                searchConditions: {
                    consumeTimeRange: [],
                    status: QuickBillStatusEnum.TO_BE_RECONCILED.code
                },
                pickerOptions: {
                    shortcuts: [{
                        text: '最近一周',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近一个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近三个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                page: {
                    current: 1,
                    size: 10,
                    total: 0
                },
                editForm: {},
                editFormRules: {},
                rightNow: true,
                autoReconciliation: false,
                loadingCategory: false,
                categoryOptions: {},
                billForm: {},
                billFormRules: {
                    consumeTime: [
                        {required: true, message: '请输入消费时间', trigger: 'blur'}
                    ],
                    categoryId: [
                        {required: true, message: '请选择分类', trigger: 'blur'}
                    ],
                    paymentAmount: [
                        {required: true, message: '请输入金额', trigger: 'blur'}
                    ],
                    payTypeId: [
                        {required: true, message: '请选择支付方式', trigger: 'blur'}
                    ],
                    // platformId: [
                    //   {required: true, message: '请选择交易平台', trigger: 'blur'}
                    // ],
                },
                crawlingEleBill: false
            }
        },
        mounted() {
            this.getTableData()
        },
        methods: {
            getTableData() {
                this.loading = true
                getQuickBillPage(Object.assign(this.searchConditions, this.page)).then(res => {
                    this.tableData = res.data.records
                    this.page = {
                        current: res.data.current,
                        size: res.data.size,
                        total: res.data.total,
                    }
                    this.loading = false
                })
            },
            search() {
                this.page = {
                    current: 1,
                    size: 10,
                    total: 0
                }
                this.getTableData()
            },
            reset() {
                this.$refs.searchForm.resetFields()
                this.search()
            },
            handleSizeChange(size) {
                this.page.size = size
                this.getTableData()
            },
            handleCurrentChange(current) {
                this.page.current = current
                this.getTableData()
            },
            openDialog(type, row = {}) {
                if (type === 'add') {
                    this.dialog.title = '快捷录入'
                    this.dialog.data = null
                } else if (type === 'edit') {
                    this.dialog.title = '快捷转换'
                    this.dialog.data = row
                }
                this.dialog.visible = true
            },
            openImportDialog() {
                this.importDialog.visible = true
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
                this.importHistoryId = ''
            },
            handlePreview(file) {
                console.log(file);
            },
            // eslint-disable-next-line no-unused-vars
            handleSuccess(response, file, fileList) {
                this.importHistory = response.data
                this.uploadable = false
                this.getTableData()
            },
            // eslint-disable-next-line no-unused-vars
            handleError(error, file, fileList) {
                this.$message.error(JSON.parse(error.message).message)
            },
            deleteQuickBill(row) {
                this.$confirm('是否继续删除操作?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    deleteQuickBill(row.id).then(res => {
                        this.$message.success(res.message)
                        this.getTableData()
                    })
                })
            },
            cancel() {
                this.editDialog.visible = false
            },
            importQuickBill() {
                const importHistoryId = this.importHistory.id
                let loading
                if (this.rightNow) {
                    loading = this.$loading({
                        lock: true,
                        text: 'Importing',
                        spinner: 'el-icon-loading',
                        background: 'rgba(0, 0, 0, 0.7)'
                    });
                }
                importQuickBillFromFile(importHistoryId, {rightNow: this.rightNow}).then((res) => {
                    const successCount = res.data.successCount || 0
                    const repeatCount = res.data.repeatCount || 0
                    const failedCount = res.data.failedCount || 0
                    const total = res.data.total || 0
                    if (this.rightNow) {
                        this.$message.success(`导入成功！共 ${total} 条，成功 ${successCount} 条，重复 ${repeatCount} 条，失败 ${failedCount} 条`)
                        loading.close();
                        this.importDialog.visible = false
                        this.getTableData()
                    }
                })
                if (!this.rightNow) {
                    this.daemonImporting = true
                    this.importDialog.visible = false
                    const interval = setInterval(() => {
                        getImportHistoryById(importHistoryId).then((res) => {
                            if (res.data.status === ImportHistoryStatusEnum.IMPORTED) {
                                const successCount = res.data.successCount || 0
                                const repeatCount = res.data.repeatCount || 0
                                const failedCount = res.data.failedCount || 0
                                const total = res.data.total || 0
                                this.$message.success(`导入成功！共 ${total} 条，成功 ${successCount} 条，重复 ${repeatCount} 条，失败 ${failedCount} 条`)
                                this.daemonImporting = false
                                clearInterval(interval)
                            }
                        })
                    }, 2000)
                }
            },
            /**
             * 自动对账：将快捷账单转换为正式账单
             */
            reconciliation(row) {
                autoReconciliation(row.id).then((res) => {
                    this.$message.success(res.message)
                    this.search()
                }).catch(() => {
                    this.getTableData()
                })
            },
            isReconciliationFailed(status) {
                return status === QuickBillStatusEnum.RECONCILIATION_FAILED.code
            },
            isReconciled(status) {
                return status === QuickBillStatusEnum.RECONCILED.code
            },
            getCategoryOptions: _.debounce(function (categoryName) {
                categoryName = categoryName.trim()
                if (categoryName !== '') {
                    this.loadingCategory = true
                    getCategoryLikeName(categoryName).then((res) => {
                        this.categoryOptions = res.data.map((category) => {
                            return {
                                label: category.name,
                                value: category.id
                            }
                        })
                        this.loadingCategory = false
                    })
                } else {
                    this.options = [];
                }
            }, 200),
            batchAutoReconciliation() {
                const selection = this.$refs.table.selection
                if (selection.length === 0) {
                    this.$message.warning("请先勾选需要操作的记录")
                } else {
                    batchAutoReconciliation(selection.map(i => i.id)).then((res) => {
                        this.$message.success(res.message)
                        this.search()
                    })
                }
            },
            crawlEleBill() {
                this.crawlingEleBill = true;
                crawlEleBill()
            }
        }
    }
</script>

<style lang="less">
    .quick-bill {

        .batch-ops {
            padding-bottom: 10px;
        }

        .divider {
            height: 31em;
            margin: 0 38px;
        }

        .not-uploadable {
            .el-upload {
                pointer-events: none;
                cursor: not-allowed;
                opacity: 0.4;
            }
        }

        .el-date-editor.el-input, .el-date-editor.el-input__inner {
            width: 100%;
        }

        .edit-dialog {
            .el-select {
                width: 100%;
            }
        }

        .upload {
            margin: 0 auto;
            width: 360px;
        }

        .import-ops {
            text-align: center;
            margin-top: 30px;
        }

        .import-op {
            margin-right: 30px;
        }

        .car-code-upload {
            display: inline-block;
            margin-left: 10px;
        }
    }
</style>
