<template>
  <el-select v-model="selectedValue" @change="$emit('update', $event)" clearable>
    <el-option v-for="item in options" :key="item.value" :value="item.value" :label="item.label"/>
  </el-select>
</template>

<script>
import Enums from "@/common/enums";

export default {
  name: 'EnumSelect',
  model: {
    prop: 'value', // 绑定的值，通过父组件传递
    event: 'update' // 自定义事件名
  },
  props: {
    type: {
      type: String,
      required: true
    },
    value: {
      type: [String, Number]
    }
  },
  mounted() {
    this.init()
  },
  data() {
    return {
      selectedValue: this.value,
      options: []
    }
  },
  methods: {
    init() {
      const map = Enums[this.type]
      for (const item of map) {
        this.options.push({
          value: item[0],
          label: item[1]
        })
      }
    },
    reset() {
      this.selectedValue = undefined
      this.$emit('update', this.selectedValue)
    }
  },
  watch: {
    value: {
      // eslint-disable-next-line no-unused-vars
      handler: function (newValue, oldValue) {
        // console.log('type = %s, oldValue = %d, newValue = %d', this.type, oldValue, newValue)
        this.selectedValue = newValue
        // 如果是change事件导致的变更，则不要进行初始化重新渲染，否则会造成页面抖动
        // if (!this.changed) {
        //   this.init()
        // } else {
        //   this.changed = false
        // }
      },
      immediate: true
    }
  }
}
</script>
