<template>
  <div class="tree-cascader">
    <el-cascader v-if="show" clearable filterable v-model="valueArray" :props="categoriesProps" :disabled="disable"
                 @change="changeHandler"/>
  </div>
</template>

<script>
import http from "@/utils/http";

export default {
  name: 'TreeCascader',
  model: {
    prop: 'value',
    event: 'update'
  },
  props: {
    value: {
      type: [Number, String]
    },
    type: {
      type: String,
      required: true
    },
    disabledIds: {
      type: Array,
      required: false,
      default() {
        return []
      }
    },
    disable: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      show: false,
      valueArray: [],
      categoriesProps: {
        lazy: true,
        lazyLoad: (node, resolve) => {
          this.loadNodes(node, resolve)
        }
      }
    }
  },
  methods: {
    async init() {
      // console.log('async init() type = %s, value = %d', this.type, this.value)
      this.show = false
      if (!this.value) {
        this.valueArray = []
        this.show = true
      } else {
        await http.get(`/${this.type}/${this.value}`).then((res) => {
          let path = res.data.path
          path = path.substring(2)
          this.valueArray = path.split(',').map(i => Number.parseInt(i))
          this.show = true
        })
      }
    },
    loadNodes(node, resolve) {
      let parentId = node.data ? node.data.value : 0
      http.get(`/${this.type}/children/${parentId}`).then((res) => {
        const nodes = res.data.map(item => ({
          value: item.id,
          label: item.name,
          leaf: item.isLeaf,
          disabled: this.disabledIds.includes(item.id)
        }))
        resolve(nodes)
      })
    },
    changeHandler(v) {
      // 标记一次change事件
      this.changed = true
      this.$emit('update', v.length > 0 ? v[v.length - 1] : null)
    }
  },
  watch: {
    value: {
      // eslint-disable-next-line no-unused-vars
      handler: function (newValue, oldValue) {
        // console.log('type = %s, oldValue = %d, newValue = %d', this.type, oldValue, newValue)
        // 如果是change事件导致的变更，则不要进行初始化重新渲染，否则会造成页面抖动
        if (!this.changed) {
          this.init()
        } else {
          this.changed = false
        }
      },
      immediate: true
    }
  }
}
</script>

<style lang="less">
.tree-cascader {
  .el-cascader {
    width: 100%;
  }
}
</style>
