html, body {
    height: 100%; /* added */
    width: 100%; /* added */
}

.search {
    padding: 10px;
}

.batch-ops {
    padding: 10px;
}

.mgl-5 {
    margin-left: 5px
}

.mgl-10 {
    margin-left: 10px
}
