<template>
  <div class="dashboard">
    <div>
      <el-divider>总</el-divider>
      <el-row>
        <el-col :span="4" class="header">\</el-col>
        <el-col :span="10" class="header">收入</el-col>
        <el-col :span="10" class="header">支出</el-col>
      </el-row>
      <el-row v-for="item of total" :key="item.id">
        <el-col :span="4" class="header">{{ item.label }}</el-col>
        <el-col :span="10" class="header">{{ item.income }}</el-col>
        <el-col :span="10" class="header">{{ item.expense }}</el-col>
      </el-row>
      <!--      <el-row>-->
      <!--        <el-col :span="4" class="header">{{ total.labels.year }}年</el-col>-->
      <!--        <el-col :span="10" class="header">{{ total.values.year[0] }}</el-col>-->
      <!--        <el-col :span="10" class="header">{{ total.values.year[1] }}</el-col>-->
      <!--      </el-row>-->
      <!--      <el-row>-->
      <!--        <el-col :span="4" class="header">{{ total.labels.year }}年/{{ total.labels.month }}月</el-col>-->
      <!--        <el-col :span="10" class="header">{{ total.values.month[0] }}</el-col>-->
      <!--        <el-col :span="10" class="header">{{ total.values.month[1] }}</el-col>-->
      <!--      </el-row>-->
      <!--      <el-row>-->
      <!--        <el-col :span="4" class="header">{{ total.labels.year }}年/第{{ total.labels.week }}周</el-col>-->
      <!--        <el-col :span="10" class="header">{{ total.values.week[0] }}</el-col>-->
      <!--        <el-col :span="10" class="header">{{ total.values.week[1] }}</el-col>-->
      <!--      </el-row>-->
      <!--      <el-row>-->
      <!--        <el-col :span="4" class="header">{{ total.labels.year }}年/{{ total.labels.month }}月/{{-->
      <!--            total.labels.day-->
      <!--          }}日-->
      <!--        </el-col>-->
      <!--        <el-col :span="10" class="header">{{ total.values.day[0] }}</el-col>-->
      <!--        <el-col :span="10" class="header">{{ total.values.day[1] }}</el-col>-->
      <!--      </el-row>-->
    </div>
    <div>
      <el-divider>最</el-divider>
      <div>2021年总收入：xxxx</div>
      <div>2021年总支出：xxxx</div>
      <div>2021年/7月总收入：xxxx</div>
      <div>2021年/7月总支出：xxxx</div>
      <div>2021年/7月/第3周总收入：xxxx</div>
      <div>2021年/7月/第3周总支出：xxxx</div>
      <div>2021年/7月/14日总收入：xxxx</div>
      <div>2021年/7月/14日总支出：xxxx</div>
    </div>
    <div>
      <el-divider>月</el-divider>
      <div>2021年总收入：xxxx</div>
      <div>2021年总支出：xxxx</div>
      <div>2021年/7月总收入：xxxx</div>
      <div>2021年/7月总支出：xxxx</div>
      <div>2021年/7月/第3周总收入：xxxx</div>
      <div>2021年/7月/第3周总支出：xxxx</div>
      <div>2021年/7月/14日总收入：xxxx</div>
      <div>2021年/7月/14日总支出：xxxx</div>
    </div>
    <div>
      <el-divider>周</el-divider>
      <div>2021年总收入：xxxx</div>
      <div>2021年总支出：xxxx</div>
      <div>2021年/7月总收入：xxxx</div>
      <div>2021年/7月总支出：xxxx</div>
      <div>2021年/7月/第3周总收入：xxxx</div>
      <div>2021年/7月/第3周总支出：xxxx</div>
      <div>2021年/7月/14日总收入：xxxx</div>
      <div>2021年/7月/14日总支出：xxxx</div>
    </div>
    <div>
      <el-divider>日</el-divider>
      <div>2021年总收入：xxxx</div>
      <div>2021年总支出：xxxx</div>
      <div>2021年/7月总收入：xxxx</div>
      <div>2021年/7月总支出：xxxx</div>
      <div>2021年/7月/第3周总收入：xxxx</div>
      <div>2021年/7月/第3周总支出：xxxx</div>
      <div>2021年/7月/14日总收入：xxxx</div>
      <div>2021年/7月/14日总支出：xxxx</div>
    </div>
  </div>
</template>

<script>
import {getAnalytics} from "@/api/dashboard";
import {AnalyticsTypeEnum} from "@/common/enums";

export default {
  name: 'Dashboard',
  mounted() {
    this.init()
  },
  data() {
    return {
      total: []
    }
  },
  methods: {
    init() {
      getAnalytics([
        AnalyticsTypeEnum.LATEST_ANNUAL_TOTAL.code,
        AnalyticsTypeEnum.LATEST_MONTHLY_TOTAL.code,
        AnalyticsTypeEnum.LATEST_WEEKEND_TOTAL.code,
        AnalyticsTypeEnum.LATEST_DAY_TOTAL.code
      ]).then((res) => {
        this.total = res.data
      })
    }
  }
}
</script>

<style lang="less">
.dashboard {
  padding: 10px;

  .el-row {
    margin: 5px 0;
  }

  .header {
    text-align: center
  }
}
</style>
