<template>
  <div class="bill-edit">
    <el-form ref="form" :model="form" label-width="80px" :rules="rules">
      <el-collapse v-model="activeNames" @change="handleChange">
        <el-collapse-item title="基础信息" name="1">
          <el-row :gutter="1" type="flex" justify="space-around">
            <el-col :span="6">
              <el-form-item prop="consumeTime" label="消费时间">
                <el-date-picker v-model="form.consumeTime" type="datetime" placeholder="请选择"/>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item prop="type" label="收支类型">
                <enum-select type="billType" v-model="form.type"/>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item prop="payableOrReceivableAmount" label="应付/应收">
                <el-input v-model="form.payableOrReceivableAmount"/>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item prop="paymentOrReceiptsAmount" label="实付/应收">
                <el-input v-model="form.paymentOrReceiptsAmount"/>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="1" type="flex" justify="space-around">
            <el-col :span="6">
              <el-form-item prop="categoryId" label="账单分类">
                <tree-cascader v-model="form.categoryId" type="bill-category"/>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item prop="payTypeId" label="支付方式">
                <tree-cascader v-model="form.payTypeId" type="pay-type"/>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item prop="platformId" label="交易平台">
                <tree-cascader v-model="form.platformId" type="platform"/>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item prop="counterpartyId" label="交易对方">
                <tree-cascader v-model="form.counterpartyId" type="counterparty"/>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="1" type="flex" justify="space-around">
            <el-col :span="6">
              <el-form-item prop="desc" label="描述">
                <el-input type="textarea" v-model="form.desc"/>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item prop="note" label="备注">
                <el-input type="textarea" v-model="form.note"/>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item prop="discountId" label="账单标记">
                <el-select
                    v-model="form.tagIds"
                    multiple
                    collapse-tags
                    filterable
                    remote
                    :remote-method="searchTag"
                    allow-create
                    default-first-option
                    placeholder="请选择">
                  <el-option
                      v-for="item in tagOptions"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item prop="discountId" label="折扣类型">
                  <el-select
                      v-model="form.discountIds"
                      multiple
                      collapse-tags
                      filterable
                      remote
                      :remote-method="searchDiscount"
                      allow-create
                      default-first-option
                      placeholder="请选择">
                    <el-option
                        v-for="item in discountOptions"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                    </el-option>
                  </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <div class="ops">
            <el-button type="primary" @click="edit">确定</el-button>
            <el-button @click="$router.push('/bill')">取消</el-button>
          </div>
        </el-collapse-item>
        <el-collapse-item title="商品信息" name="2">
          <el-table :data="form.billItems" style="width: 100%">
            <el-table-column prop="id" label="#" width="180"/>
            <el-table-column prop="name" label="名称">
              <template slot-scope="scope">
                <el-select filterable remote allow-create default-first-option placeholder="请输入关键词"
                           v-if="scope.row.editing"
                           v-model="scope.row.productIdOrName"
                           :remote-method="remoteProductSearch"
                           @change="productSelectChangeHandler"
                           :loading="loadingProduct">
                  <el-option
                      v-for="item in productOptions"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                  </el-option>
                </el-select>
                <span v-else>{{ scope.row.productName }}</span>
              </template>
            </el-table-column>
            <el-table-column label="分类">
              <template slot-scope="scope">
                <tree-cascader type="product-category" :disable="productDisable" v-if="scope.row.editing"
                               v-model="scope.row.productCategoryId"/>
                <span v-else>{{ scope.row.productCategoryName }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="sku" label="规格" min-width="148px">
              <template slot-scope="scope">
                <div class="sku" v-if="scope.row.editing">
                  <skus v-model="scope.row.billItemSkus"/>
                </div>
                <div v-else>
                  <p v-for="sku of scope.row.billItemSkus" :key="sku.id">
                    ￥{{ sku.skuPrice || '?' }} / {{ sku.skuUnit || '?' }} * {{ sku.skuQuantity || '?' }}
                  </p>
                </div>
              </template>
            </el-table-column>
            <el-table-column prop="discount" label="折扣">
              <template slot-scope="scope">
                <el-input v-if="scope.row.editing" v-model="scope.row.discount"></el-input>
                <span>{{ scope.row.discount }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="payableOrReceivableAmount" label="应付/收金额">
              <template slot-scope="scope">
                <el-input v-if="scope.row.editing" v-model="scope.row.payableOrReceivableAmount"></el-input>
                <span v-else>{{ scope.row.payableOrReceivableAmount }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="paymentOrReceiptsAmount" label="实付/收金额">
              <template slot-scope="scope">
                <el-input v-if="scope.row.editing" v-model="scope.row.paymentOrReceiptsAmount"></el-input>
                <span v-else>{{ scope.row.paymentOrReceiptsAmount }}</span>
              </template>
            </el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-link v-if="scope.row.editing" type="primary" @click="saveBillItem(scope.row)">保存</el-link>
                <el-link v-if="scope.row.editing" type="primary" class="mgl-5"
                         @click="cancelAddBillItem(scope.row)">取消
                </el-link>
                <el-link v-if="!scope.row.editing" type="primary" @click="editBillItem(scope.row)">编辑</el-link>
                <el-link v-if="!scope.row.editing" type="primary" class="mgl-5"
                         @click="deleteBillItem(scope.row)">删除
                </el-link>
              </template>
            </el-table-column>
          </el-table>
          <el-button class="product-add-button" v-if="form.id" :disabled="adding" @click="addProduct">+添加</el-button>
        </el-collapse-item>
        <el-collapse-item title="优惠信息" name="2">

        </el-collapse-item>
      </el-collapse>
    </el-form>
  </div>
</template>

<script>
import EnumSelect from "@/components/EnumSelect";
import TreeCascader from "@/components/TreeCascader";
import {getBillDetail, saveBill} from "@/api/bill";
import {getDiscountsByBillId, searchDiscountsByKeyword} from "@/api/discount";
import {getTagsByBillId, searchTagsByKeyword} from "@/api/billTag";
import {searchProducts} from "@/api/product";
import {deleteBillItemById, saveBillItem} from "@/api/billItem";
import Skus from "@/view/bill/skus";

export default {
  name: 'BillEdit',
  components: {
    Skus,
    EnumSelect,
    TreeCascader
  },
  created() {
    this.initDiscountOptions()
    this.initTagOptions()
  },
  mounted() {
    this.getBillDetail()
  },
  data() {
    return {
      loading: false,
      form: {
        consumeTime: new Date(),
        desc: '',
        discount: {
          id: ''
        },
        tagIds: [],
        products: []
      },
      rules: {
        desc: [{
          required: true,
          message: '描述不能为空',
          trigger: 'blur'
        }],
        payableOrReceivableAmount: [{
          required: false,
          message: '请输入合法数额',
          trigger: 'change',
          pattern: /^((0|([1-9][0-9]*))|(([0]\.\d{1,2})|([1-9][0-9]*\.\d{1,2})))$/
        }],
        paymentOrReceiptsAmount: [{
          required: false,
          message: '请输入合法数额',
          trigger: 'change',
          pattern: /^((0|([1-9][0-9]*))|(([0]\.\d{1,2})|([1-9][0-9]*\.\d{1,2})))$/
        }]
      },
      discountOptions: [],
      tagOptions: [],
      activeNames: ['1', '2'],
      newBillItem: {},
      adding: false,
      loadingProduct: false,
      productOptions: [],
      loadingSku: false,
      skuOptions: [],
      productDisable: false,
      sku: {}
    }
  },
  methods: {
    getBillDetail() {
      this.loading = true
      // console.log(this.$route.query.id)
      if (this.$route.query.id) {
        getBillDetail(this.$route.query.id).then((res) => {
          // this.form = res.data
          // Object.assign(res.data, this.form)
          this.form = Object.assign({}, this.form, res.data)
          this.loading = false
        })
      }
    },
    initDiscountOptions() {
      // getAllDiscount().then((res) => {
      //   this.discountOptions = res.data
      // })
      if (this.$route.query.id) {
        getDiscountsByBillId(this.$route.query.id).then((res) => {
          this.form.discountIds = res.data.map(tag => tag.id)
          this.discountOptions = res.data.map(tag => {
            return {
              value: tag.id,
              label: tag.desc
            }
          })
        })
      }
    },
    initTagOptions() {
      if (this.$route.query.id) {
        getTagsByBillId(this.$route.query.id).then((res) => {
          this.form.tagIds = res.data.map(tag => tag.id)
          this.tagOptions = res.data.map(tag => {
            return {
              value: tag.id,
              label: tag.name
            }
          })
        })
      }
    },
    searchTag(keyword) {
      if (keyword.length !== 0) {
        searchTagsByKeyword(keyword).then((res) => {
          this.tagOptions = res.data.map(tag => {
            return {
              value: tag.id,
              label: tag.name
            }
          })
        })
      }
    },
    searchDiscount(keyword) {
      if (keyword.length !== 0) {
        searchDiscountsByKeyword(keyword).then((res) => {
          this.discountOptions = res.data.map(discount => {
            return {
              value: discount.id,
              label: discount.desc
            }
          })
        })
      }
    },
    // eslint-disable-next-line no-unused-vars
    handleChange(val) {
      // console.log(val);
    },
    edit() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          saveBill(this.form).then((res) => {
            this.$message.success(res.message)
            this.$router.push('/bill')
          })
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    addProduct() {
      this.form.billItems.push({billId: this.form.id, billItemSkus: [{}], editing: true})
      this.adding = true
    },
    saveBillItem(billItem) {
      console.log('billItem', billItem)
      saveBillItem(billItem).then((res) => {
        this.$message.success(res.message)
        this.getBillDetail()
        this.adding = false
      })
    },
    cancelAddBillItem(row) {
      if (Number.isInteger(row.id)) {
        this.form.billItems = this.form.billItems.map(i => {
          if (i.id === row.id) {
            i.editing = false
          }
          return i
        })
      } else {
        this.form.billItems.pop()
        this.adding = false
      }
    },
    remoteProductSearch(keyword) {
      if (keyword.length > 0) {
        this.loadingProduct = true
        searchProducts({keyword}).then((res) => {
          console.log(res)
          this.productOptions = res.data.map(i => {
            return {
              value: i.id,
              label: i.name,
              categoryId: i.categoryId
            }
          })
          this.loadingProduct = false
        })
      }
    },
    productSelectChangeHandler(productIdOrName) {
      if (Number.isInteger(productIdOrName)) {
        const product = this.productOptions.find(i => i.value === productIdOrName)
        this.form.billItems = this.form.billItems.map(i => {
          if (i.productIdOrName === productIdOrName) {
            i.productCategoryId = product.categoryId
          }
          return i
        })
        this.productDisable = true
      }
    },
    editBillItem(billItem) {
      this.form.billItems = this.form.billItems.map(i => {
        if (i.id === billItem.id) {
          i.editing = true
        }
        return i
      })
      let index = this.productOptions.findIndex(i => i.value === billItem.productId)
      if (index === -1)
        this.productOptions.push({
          value: billItem.productId,
          label: billItem.productName
        })
    },
    deleteBillItem(billItem) {
      this.$confirm('是否确定要继续删除操作?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        deleteBillItemById(billItem.id).then((res) => {
          this.$message.success(res.message)
          this.getBillDetail()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        });
      });
    }
  }
}
</script>

<style lang="less">
.bill-edit {
  padding: 40px;

  .el-select {
    width: 100%;
  }

  .el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 100%;
  }

  .ops {
    margin-top: 20px;
    text-align: center;
  }

  .product-add-button {
    margin-top: 5px;
    width: 100%;
    height: 60px;
    border: 1px dashed #02c1de;
    background: #fdfdfd;

  }

  //.sku {
  //  display: flex;
  //
  //  .sku-price {
  //    width: 100px;
  //
  //    .el-input__inner {
  //      border-radius: 4px 0 0 4px;
  //      border-right: none;
  //    }
  //  }
  //
  //  .sku-unit {
  //    width: 100px;
  //
  //    .el-input__inner {
  //      border-radius: 0;
  //      border-right: none;
  //    }
  //  }
  //
  //  .sku-quantity {
  //    width: 100px;
  //
  //    .el-input__inner {
  //      border-radius: 0 4px 4px 0;
  //    }
  //  }
  //}
}
</style>
