<template>
  <div class="bill">
    <div class="search">
      <el-form ref="searchForm" :inline="true" :model="searchConditions">
        <el-form-item prop="desc" label="描述">
          <el-input v-model="searchConditions.desc" placeholder="请输入关键字"/>
        </el-form-item>
        <el-form-item prop="consumeTimeRange" label="消费时间">
          <el-date-picker
              v-model="searchConditions.consumeTimeRange"
              type="datetimerange"
              :picker-options="pickerOptions"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期">
          </el-date-picker>
        </el-form-item>
        <el-form-item prop="categoryId" label="分类">
          <tree-cascader type="bill-category" v-model="searchConditions.categoryId"/>
        </el-form-item>
        <el-form-item prop="counterpartyId" label="交易对方">
          <tree-cascader type="counterparty" v-model="searchConditions.counterpartyId"/>
        </el-form-item>
        <el-form-item prop="status" label="状态">
          <enum-select ref="quickBillStatus" type="billStatus" v-model="searchConditions.status"/>
        </el-form-item>
        <el-form-item>
          <el-button style="margin-left: 10px" type="primary" @click="search">搜索</el-button>
          <el-button @click="reset">重置</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="batch-ops">
      <el-button type="primary" @click="$router.push(`/bill/edit`)">新增</el-button>
      <el-button type="primary" @click="deleteBill">删除</el-button>
    </div>
    <el-table ref="table" v-loading="loading" :data="tableData">
      <el-table-column type="selection" width="55"/>
      <el-table-column prop="id" label="#" width="55"/>
      <el-table-column label="消费时间" min-width="150" sortable sort-by="consumeTime">
        <template slot-scope="scope">
          {{ scope.row.consumeTime | formatDateTime }}
        </template>
      </el-table-column>
      <el-table-column label="分类" prop="categoryName"/>
      <el-table-column prop="desc" label="描述" min-width="180" show-overflow-tooltip/>
      <el-table-column label="收支类型">
        <template slot-scope="scope">
          {{ scope.row.type | formatDict('billType') }}
        </template>
      </el-table-column>
      <el-table-column prop="payableOrReceivableAmount" label="应付/收金额" min-width="100"/>
      <el-table-column prop="paymentOrReceiptsAmount" label="实付/收金额" min-width="100"/>
      <el-table-column prop="status" label="状态" min-width="110">
        <template slot-scope="scope">
          {{ scope.row.status | formatDict('billStatus') }}
        </template>
      </el-table-column>
      <el-table-column label="交易对方" prop="counterpartyName" min-width="80" show-overflow-tooltip/>
      <el-table-column label="交易平台" prop="platformName" min-width="80" show-overflow-tooltip/>
      <el-table-column prop="note" label="备注" show-overflow-tooltip/>
      <el-table-column prop="discountDesc" label="折扣"/>
      <el-table-column label="支付方式" prop="payTypeName"/>
      <el-table-column label="OPS" fixed="right">
        <template slot-scope="scope">
          <font-awesome-icon icon="edit" class="mgl-5" @click="$router.push(`/bill/edit?id=${scope.row.id}`)"/>
          <font-awesome-icon icon="trash-alt" @click="deleteBill"/>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="page.current"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="page.size"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.total">
    </el-pagination>
  </div>
</template>

<script>
import {deleteBillList, getBillList} from "@/api/bill";
import EnumSelect from "@/components/EnumSelect";
import TreeCascader from "@/components/TreeCascader";

export default {
  name: 'Bill',
  components: {TreeCascader, EnumSelect},
  data() {
    return {
      loading: false,
      searchConditions: {},
      tableData: [],
      page: {
        current: 1,
        size: 10,
        total: 0
      },
      pickerOptions: {
        shortcuts: [{
          text: '最近一周',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: '最近一个月',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: '最近三个月',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
            picker.$emit('pick', [start, end]);
          }
        }]
      }
    }
  },
  mounted() {
    this.getTableData()
  },
  methods: {
    getTableData() {
      this.loading = true
      let data = Object.assign(this.searchConditions, this.page)
      getBillList(data).then((res) => {
        this.tableData = res.data.records
        this.page = {
          current: res.data.current,
          size: res.data.size,
          total: res.data.total,
        }
        this.loading = false
      })
    },
    search() {
      this.page = {
        current: 1,
        size: 10,
        total: 0
      }
      this.getTableData()
    },
    reset() {
      this.$refs.searchForm.resetFields()
      this.search()
    },
    handleSizeChange(size) {
      this.page.size = size
      this.getTableData()
    },
    handleCurrentChange(current) {
      this.page.current = current
      this.getTableData()
    },
    deleteBill() {
      const selection = this.$refs.table.selection
      if (selection.length === 0) {
        this.$message.warning("请先勾选需要操作的记录")
      } else {
        this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          center: true
        }).then(() => {
          deleteBillList(selection.map(i => i.id)).then((res) => {
            console.log('res ', res)
            if (res.code === 2000) {
              this.$message({
                type: 'success',
                message: '删除成功!'
              });
              this.getTableData()
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });
      }
    }
  }
}
</script>

<style lang="less">
.bill {

}
</style>
