<template>
  <div class="bill-save">
    <el-form :model="form" label-width="80px" :rules="rules">
      <el-row :gutter="1">
        <el-col :span="12">
          <el-form-item prop="consumeTime" label="消费时间">
            <el-date-picker v-model="form.consumeTime" type="datetime" placeholder="请选择"/>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item prop="type" label="收支类型">
            <enum-select type="billType" v-model="form.type"/>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="1">
        <el-col :span="12">
          <el-form-item prop="categoryId" label="分类">
            <tree-cascader v-model="form.categoryId" type="bill-category"/>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item prop="platformId" label="交易平台">
            <tree-cascader v-model="form.platformId" type="platform"/>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="1">
        <el-col :span="12">
          <el-form-item prop="discountId" label="折扣">
            <el-select v-model="form.discountId">
              <el-option v-for="(index, item) in discountOptions" :label="item.desc" :value="item.id" :key="index"/>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item prop="payTypeId" label="支付方式">
            <tree-cascader v-model="form.payTypeId" type="pay-type"/>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row :gutter="1">
        <el-col :span="12">
          <el-form-item prop="discountId" label="标记">
            <el-select
                v-model="form.tags"
                multiple
                collapse-tags
                filterable
                remote
                :remote-method="searchTag"
                allow-create
                default-first-option
                placeholder="请选择">
              <el-option
                  v-for="item in tagOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item prop="payTypeId" label="交易对方">
            <tree-cascader v-model="form.payTypeId" type="pay-type"/>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="1">
        <el-col :span="12">
          <el-form-item prop="payableAmount" label="应付金额">
            <el-input v-model="form.payableAmount"/>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item prop="paymentAmount" label="实付金额">
            <el-input v-model="form.paymentAmount"/>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="1">
        <el-col :span="12">
          <el-form-item prop="receivableAmount" label="应收金额">
            <el-input v-model="form.receivableAmount"/>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item prop="receiptsAmount" label="实收金额">
            <el-input v-model="form.receiptsAmount"/>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="1">
        <el-col :span="12">
          <el-form-item prop="desc" label="描述">
            <el-input type="textarea" v-model="form.desc"/>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item prop="note" label="备注">
            <el-input type="textarea" v-model="form.note"/>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>

<script>
import {getCategoryNodesByParentId} from "@/api/billCategory";
import EnumSelect from "@/components/EnumSelect";
import {getAllDiscount} from "@/api/discount";
import {getPayTypeNodesByParentId} from "@/api/payType";
import {getNodesByParentId} from "@/api/platform";
import TreeCascader from "@/components/TreeCascader";
import {getTagsByBillId, searchTagsByKeyword} from "@/api/billTag";

export default {
  name: 'BillSave',
  components: {TreeCascader, EnumSelect},
  props: {
    bill: {}
  },
  created() {
    this.initDiscountOptions()
    this.initTagOptions()
  },
  data: function () {
    return {
      form: {
        consumeTime: new Date(),
        // categoryIds: [],
        platformIds: [],
        desc: '',
        discount: {
          id: ''
        },
        payTypeIds: [],
        tags: []
      },
      rules: {
        desc: [{
          required: true,
          message: '描述不能为空',
          trigger: 'blur'
        }],
        payableAmount: [{
          required: false,
          message: '请输入合法数额',
          trigger: 'change',
          pattern: /^((0|([1-9][0-9]*))|(([0]\.\d{1,2})|([1-9][0-9]*\.\d{1,2})))$/
        }],
        paymentAmount: [{
          required: false,
          message: '请输入合法数额',
          trigger: 'change',
          pattern: /^((0|([1-9][0-9]*))|(([0]\.\d{1,2})|([1-9][0-9]*\.\d{1,2})))$/
        }],
        receivableAmount: [{
          required: false,
          message: '请输入合法数额',
          trigger: 'change',
          pattern: /^((0|([1-9][0-9]*))|(([0]\.\d{1,2})|([1-9][0-9]*\.\d{1,2})))$/
        }],
        receiptsAmount: [{
          required: false,
          message: '请输入合法数额',
          trigger: 'change',
          pattern: /^((0|([1-9][0-9]*))|(([0]\.\d{1,2})|([1-9][0-9]*\.\d{1,2})))$/
        }]
      },
      categoriesProps: {
        lazy: true,
        lazyLoad: (node, resolve) => {
          this.loadCategoryNodes(node, resolve)
        }
      },
      platformProps: {
        lazy: true,
        lazyLoad: (node, resolve) => {
          this.loadPlatformNodes(node, resolve)
        }
      },
      payTypeProps: {
        lazy: true,
        lazyLoad: (node, resolve) => {
          this.loadPayTypeNodes(node, resolve)
        }
      },
      discountOptions: [],
      tagOptions: []
    }
  },
  methods: {
    loadCategoryNodes(node, resolve) {
      let parentId = node.data ? node.data.value : 0
      getCategoryNodesByParentId(parentId).then((res) => {
        const nodes = res.data.map(item => ({
          value: item.id,
          label: item.name,
          leaf: item.isLeaf
        }))
        resolve(nodes)
      })
    },
    loadPlatformNodes(node, resolve) {
      let parentId = node.data ? node.data.value : 0
      getNodesByParentId(parentId).then((res) => {
        const nodes = res.data.map(item => ({
          value: item.id,
          label: item.name,
          leaf: item.isLeaf
        }))
        resolve(nodes)
      })
    },
    loadPayTypeNodes(node, resolve) {
      let parentId = node.data ? node.data.value : 0
      getPayTypeNodesByParentId(parentId).then((res) => {
        const nodes = res.data.map(item => ({
          value: item.id,
          label: item.name,
          leaf: item.isLeaf
        }))
        resolve(nodes)
      })
    },
    initDiscountOptions() {
      getAllDiscount().then((res) => {
        this.discountOptions = res.data
      })
    },
    initTagOptions() {
      if (this.bill.id) {
        getTagsByBillId(this.bill.id).then((res) => {
          this.form.tags = res.data.map(tag => tag.id)
          this.tagOptions = res.data.map(tag => {
            return {
              value: tag.id,
              label: tag.name
            }
          })
        })
      }
    },
    searchTag(keyword) {
      if (keyword.length !== 0) {
        searchTagsByKeyword(keyword).then((res) => {
          this.tagOptions = res.data.map(tag => {
            return {
              value: tag.id,
              label: tag.name
            }
          })
        })
      }
    }
  },
  watch: {
    bill: {
      // eslint-disable-next-line no-unused-vars
      handler: function (newValue, oldValue) {
        if (newValue) {
          // console.log('newValue false', newValue)
          this.form = newValue
          if (!this.form.discount) this.form.discount = {id: ''}
        } else {
          // console.log('newValue true', newValue)
          this.form = {
            consumeTime: new Date(),
            // categoryIds: [],
            platformIds: [],
            desc: '',
            discount: {
              id: ''
            },
            payTypeIds: []
          }
        }
      },
      deep: true,
      immediate: true
    }
  }
}
</script>

<style lang="less">
.bill-save {
  .el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 100%;
  }

  .el-select {
    width: 100%;
  }
}
</style>
