<template>
  <div class="skus">
    <div class="sku" v-for="sku of skus" :key="sku.id">
      <el-input class="sku-price" placeholder="单价" v-model="sku.skuPrice" @change="changeHandler"/>
      <el-select class="sku-unit" placeholder="规格" filterable remote allow-create default-first-option
                 v-model="sku.skuIdOrUnit"
                 :remote-method="remoteSkuSearch"
                 @change="changeHandler"
                 :loading="loadingSku">
        <el-option
            v-for="item in skuOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value">
        </el-option>
      </el-select>
      <el-input-number class="sku-quantity" placeholder="数量" v-model="sku.skuQuantity" @change="changeHandler"
                       controls-position="right" :min="1"></el-input-number>
      <div class="sku-ops">
        <span role="button" class="sku-add" @click="addSku(sku)">+</span>
        <span role="button" class="sku-delete" @click="deleteSku(sku)">-</span>
      </div>
    </div>
  </div>
</template>

<script>
import {searchSkus} from "@/api/sku";

export default {
  name: 'Skus',
  model: {
    prop: 'value',
    event: 'update'
  },
  props: {
    value: {
      type: Array
    }
  },
  data() {
    return {
      skus: [],
      skuOptions: [],
      loadingSku: false,
      changed: false
    }
  },
  methods: {
    init() {
      if (!this.value || this.value.length <= 0) {
        this.skus = [{}]
      } else {
        for (let sku of this.value) {
          if (sku.skuId) {
            sku.idOrUnit = sku.skuId
            if (this.skuOptions.findIndex(e => e.value === sku.skuId) === -1)
              this.skuOptions.push({value: sku.skuId, label: sku.skuUnit})
          }
        }
        this.skus = this.value
      }
    },
    remoteSkuSearch(keyword) {
      if (keyword.length > 0) {
        this.loadingSku = true
        searchSkus({keyword}).then((res) => {
          console.log(res)
          this.skuOptions = res.data.map(i => {
            return {
              value: i.id,
              label: i.unit
            }
          })
          this.loadingSku = false
        })
      }
    },
    changeHandler(value) {
      console.log('changeHandler value', value)
      this.$emit('update', this.skus)
    },
    addSku(sku) {
      console.log('addSku(sku)', sku)
      this.skus.push({})
    },
    deleteSku(sku) {
      console.log('deleteSku(sku)', sku)
      console.log('skus', this.skus)
      let idx = this.skus.indexOf(sku)
      console.log('this.skus.indexOf(sku)', this.skus.indexOf(sku))
      this.skus.splice(idx, 1)
    }
  },
  watch: {
    value: {
      // eslint-disable-next-line no-unused-vars
      handler: function (newValue, oldValue) {
        // console.log('newValue, oldValue, newValue === oldValue', newValue, oldValue, newValue === oldValue)
        // console.log('type = %s, oldValue = %d, newValue = %d', this.type, oldValue, newValue)
        // 如果是change事件导致的变更，则不要进行初始化重新渲染，否则会造成页面抖动
        if (!this.changed) {
          this.init()
        } else {
          this.changed = false
        }
      },
      immediate: true
    }
  }
}
</script>

<style lang="less">
.skus {
  .sku {
    width: 325px;
    display: flex;

    .sku-price {
      width: 80px;

      .el-input__inner {
        border-radius: 4px 0 0 4px;
        border-right: none;
      }
    }

    .sku-unit {
      width: 80px;

      .el-input__inner {
        border-radius: 0;
        border-right: none;
      }
    }

    .sku-quantity {
      width: 120px;

      .el-input__inner {
        border-radius: 0;
      }
    }

    .sku-ops {
      position: relative;
      display: inline-block;
      width: 42px;
      line-height: 38px;
      box-sizing: border-box;
      border-top: 1px solid #DCDFE6;
      border-right: 1px solid #DCDFE6;
      border-bottom: 1px solid #DCDFE6;
      border-radius: 0 4px 4px 0;

      .sku-op {
        position: absolute;
        z-index: 1;
        right: 1px;
        height: auto;
        line-height: 19px;
        width: 40px;
        text-align: center;
        background: #F5F7FA;
        color: #606266;
        cursor: pointer;
        font-size: 13px;
      }

      .sku-delete {
        .sku-op();
        top: 1px;
        border-bottom: 1px solid #DCDFE6;
      }

      .sku-add {
        .sku-op();
        bottom: 1px;
      }
    }
  }

}
</style>
