<template>
  <div class="dashboard-editor-container">

    <panel-group @handleSetLineChartData="handleSetLineChartData" />

    <el-row style="background:#fff;padding:16px 16px 0;margin-bottom:32px;">
      <line-chart v-if="lineChartData!==''" :chart-data="lineChartData" />
    </el-row>
  </div>
</template>

<script>
import PanelGroup from './components/PanelGroup'
import LineChart from './components/LineChart'
import { lastDay } from '../../../api/summary'

import moment from 'moment'

moment.locale('zh-cn')

export default {
  name: 'DashboardAdmin',
  components: { PanelGroup, LineChart },
  data() {
    return {
      lineChartData: ''
    }
  },
  mounted() {
    this.initData()
  },
  methods: {
    initData() {
      lastDay({ days: 30 }).then(response => {
        // console.log(response)
        const xAxisData = []
        const incomeData = []
        const expenseData = []
        for (const report of response.data) {
          xAxisData.push(moment(report.date).format('YY/MM/DD'))
          incomeData.push(report.income)
          expenseData.push(report.expense)
        }
        this.lineChartData = {
          xAxisData, incomeData, expenseData
        }
        console.log('this.lineChartData', this.lineChartData)
      })
    },
    handleSetLineChartData(type) {
      this.lineChartData = []
      // this.lineChartData = lineChartData[type]
    }
  }
}
</script>

<style lang="scss" scoped>
  .dashboard-editor-container {
    padding: 32px;
    background-color: rgb(240, 242, 245);
    position: relative;

    .chart-wrapper {
      background: #fff;
      padding: 16px 16px 0;
      margin-bottom: 32px;
    }
  }

  @media (max-width:1024px) {
    .chart-wrapper {
      padding: 8px;
    }
  }
</style>
