<template>
  <el-container class="container">
    <el-aside class="aside" width="200px">
      <el-menu :default-active="activeIndex" class="menu" @select="handleSelect">
        <el-menu-item v-for="menu in menus" :key="menu.index" :index="menu.index">{{ menu.title }}</el-menu-item>
      </el-menu>
    </el-aside>
    <el-container>
      <el-header style="padding-left: 10px; line-height: 60px">
        当前商户:
        宝能生鲜
        已认证
        自 2021-04-13 号开始的账单转换为电子版，之前的账单之后再迁移进来。
      </el-header>
      <el-main>
        <div class="menu-nav">
          {{ $route.meta.title }}
        </div>
        <div class="container-background">
          <router-view/>
        </div>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
export default {
  name: 'Home',
  mounted() {
    this.init()
  },
  computed: {
    menus: function () {
      let menus = []
      // console.log('this.$router', this.$router)
      const homeRoute = this.$router.options.routes[0]
      for (const route of homeRoute.children) {
        if (route.hidden) continue
        menus.push({
          index: route.name,
          title: route.meta.title
        })
      }
      // console.log('menus', menus)
      return menus
    }
  },
  data() {
    return {
      activeIndex: 'dashboard',
    }
  },
  methods: {
    init() {
      this.activeIndex = this.$route.name
    },
    // eslint-disable-next-line no-unused-vars
    handleSelect(key, keyPath) {
      this.activeIndex = key
      this.$router.push({name: key})
    }
  }
}
</script>

<style lang="less">
.container {
  .el-aside {
    border-right: solid 1px #e6e6e6;
  }

  .el-main {
    background: #f0f2f5;
    padding: 0 0 10px 10px;
  }

  .menu-nav {
    height: 40px;
    line-height: 40px;
    background: #f0f2f5;
    font-size: 14px;
  }

  .el-menu {
    border-right: none;
  }

  .container-background {
    background-color: #fff;
  }
}
</style>
